<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <!-- 配置MVC注解扫描 -->
  <mvc:default-servlet-handler/>
  <mvc:annotation-driven/>

  <mvc:interceptors>
    <mvc:interceptor>
      <!--拦截所有路径-->
     <mvc:mapping path="/**"/>
      <!--拦截除了一下的路径-->
      <mvc:exclude-mapping path="/login.html"/>
      <mvc:exclude-mapping path="/login.do"/>
      <mvc:exclude-mapping path="/css/**"/>
      <mvc:exclude-mapping path="/js/**"/>
      <mvc:exclude-mapping path="/images/**"/>
      <mvc:exclude-mapping path="/laydate/**"/>
      <bean class="com.interceptor.LoginInterceptor"></bean>
    </mvc:interceptor>
  </mvc:interceptors>




</beans>
